@import url('https://fonts.googleapis.com/css?family=Raleway:300,500&subset=latin-ext');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 17px;
  word-spacing: 0.3em;
  line-height: 1.2em;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li,dd {
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 500;
}

h1 {
  font-size: 1.6rem
}

h2 {
  font-size: 1.4rem
}

h3 {
  font-size: 1.2rem
}

h4 {
  font-size: 1rem
}

p {
  text-align: justify;
}

.layout {
  margin: 0;
  display: grid;
  width: 100%;
  grid-gap: 20px;
}

.layout>div {
  padding: 20px;
}

.layout .values {
  background: #444 url('bg2.jpg') no-repeat top left;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.valuep .title {
  font-weight: 500;
  border-bottom: 1px solid #fff;
  padding: 5px;
  font-size: 1.2em;
}

.contact-cta {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #60BFF2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px !important;
  overflow: hidden;
  z-index: 3;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5)
}

.contact-form {
  position: fixed;
  width: 0px;
  padding: 0;
  overflow: hidden;
  transition: all .3s ease-out;
  right: 20px;
  height: 0;
  bottom: 35px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.contact-form {
  background-color: #60BFF2;
  padding: 10px;
}

.company-form {
  padding: 30px;
  margin: -20px -20px 10px -20px;
}

.me {
  margin-bottom: 2em;
}

form input {
  border: 1px solid #ddd;
  background: #fff;
  margin: 5px;
  padding: 5px;
  min-width: 100px;
}

.contact-form>input, .contact-form>textarea {
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: none;
  background-color: #fff;
}

.trainings-open-entry {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: calc(50% - 20px);
  float: left;
}

.contact-form.open {
  width: calc( 100% - 40px);
  max-width: 500px;
  padding: 10px;
  height: auto;
  border-radius: 0;
}

.contact-cta.open form {
  display: block;
}

.chat {
  position: absolute;
  color: #fff;
}

.chat:before, .chat:after {
  content: "";
  position: absolute;
}

.chat:before {
  top: 0;
  left: 0;
  width: 25px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.chat:after {
  border-color: #fff;
  left: 10px;
  border-width: 4px;
  border-style: solid;
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 18px;
  background: transparent;
}

.layout .taglines {
  padding: 30px 50px;
  text-align: center;
}

.taglines .avatar {
  width: 128px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.1)
}

.layout .values {
  padding: 0;
}

.values .valuep {
  width: 33%;
  float: left;
  padding: 30px;
}

.footer {
  padding: 30px;
  margin: 50px 0 0 0;
  background: #333;
  color: #fff;
  overflow:auto;
}
.footer a{
  color: #eef;
  text-decoration: unedrline;
  font-weight: 500;
}
.qr{
  display:block;
  float:left;
}
.footer>.footer-box{
  float:left;
}
.footer blockquote {
  font-size: 3px;
}
.footer-soflair img {
  margin-top: 35px;
}
.footer-lo{
  clear:both;
  padding-top: 50px;
  text-align: center;
}

.colorflow {
  color: #eff;
  background: linear-gradient(240deg, #60BFF2, #323D8C, #BF5D38);
  background-size: 600% 600%;
  animation: AnimationName 100s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


/* layouts */

.layout {
  grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: ". top about about . "
                       "val val val val val"
                       ". contact company company ."
                       ". open open open .";
}

.layout .values {
  margin: 20px 0;
}

.layout .about {
  padding-top: 100px;
}

img.qr {
  width: 200px;
}

@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "top" "about" "val" "company" "contact" "open";
  }
  .values .valuep {
    width: 100%;
    margin: 0;
  }
  .trainings-open-entry {
    width: 100%;
    margin: 10px 0;
  }
  .layout .about {
    padding-top: 20px;
  }
  img.qr {
    width: 100%
  }
}

@media (min-width: 1500px) {
  .layout {
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: ". top about about about . "
                         "val val val val val val"
                         "contact company company open open open";
  }
  .layout .valuep {
    margin: 0;
  }
}

.taglines {
  grid-area: top
}

.values {
  grid-area: val
}

.about {
  grid-area: about
}

.company {
  grid-area: company
}

.company-contact {
  grid-area: contact
}

.trainings-open {
  grid-area: open
}
