@import url('https://fonts.googleapis.com/css?family=Raleway:300,500&subset=latin-ext');
* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 17px;
  word-spacing: 0.3em;
  line-height: 1.2em;
  max-width: 999px;
  margin: 0 auto;
}


a {
  text-decoration: none;
}

li,dd {
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 500;
}

h1 {
  font-size: 1.6rem
}

h2 {
  font-size: 1.4rem
}

h3 {
  font-size: 1.2rem
}

h4 {
  font-size: 1rem
}

p {
  text-align: justify;
}

.layout {
  margin: 0;
  display: grid;
  width: 100%;
  grid-gap: 20px;
}

.layout>div {
  padding: 20px;
}

.layout .values {
  background: #444 url('bg2.jpg') no-repeat top left;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.valuep .title {
  font-weight: 500;
  border-bottom: 1px solid #fff;
  padding: 5px;
  font-size: 1.2em;
}

.contact-form {
  background-color: #60BFF2;
  padding: 10px;
  text-align: center;
}


.me {
  margin-bottom: 2em;
}

form input {
  border: 1px solid #ddd;
  background: #fff;
  margin: 5px;
  padding: 5px;
  min-width: 100px;
}

.contact-form>input, .contact-form>textarea {
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: none;
  background-color: #fff;
}



.layout .taglines {
  padding: 30px 50px;
  text-align: center;
}

.taglines .avatar {
  width: 128px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.1)
}

.qr{
  display:block;
  float:left;
}
.footer>.footer-box{
  float:left;
}

.colorflow {
  color: #eff;
  background: linear-gradient(240deg, #60BFF2, #323D8C, #BF5D38);
  background-size: 600% 600%;
  animation: AnimationName 100s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


/* layouts */

.layout {
  grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: ". top about about . "
                       ". form topics topics ."
                       ". . topics topics ."
                       ". . footer footer .";
}

.layout .about {
  padding-top: 100px;
}

img.qr {
  display: none;
}

@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "top" "about" "topics" "form" "footer" ;
  }
  .layout .about {
    padding-top: 20px;
  }
  img.qr {
    width: 100%;
    display: block;
  }
}

.topics {
  grid-area: topics
}
.contact-form {
  grid-area: form
}

.taglines {
  grid-area: top
}

.about {
  grid-area: about
}

.footer {
  grid-area: footer
}

